/* Site Stylesheet
1. Global Styles
2. Typography Styles
3. Structure Styles
4. Module Styles
5. Component Styles
======================================== */

/* 1. Global Styles
======================================== */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: hsla(0, 0%, 0%, 0.9);
}

img {
  max-width: 100%;
  height: auto;
}

/* 1. Typography Styles
======================================== */

/* 1. Structure Styles
======================================== */

/* 1. Module Styles
======================================== */

/* 1. Component Styles
======================================== */
